<div class="main-container">
    <div class="container-square">
        <div class="container-search-button">
            <input class="search-bar" type="text" placeholder="Search..." [(ngModel)]="searchTerm" />
            <button class="button-add" (click)="agregarProducto()">Agregar</button>
        </div>
        <div class="container">
            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Logo</th>
                            <th>Nombre del Producto</th>
                            <th>Descripción</th>
                            <th>Fecha de Liberación</th>
                            <th>Fecha de Reestructuración</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="(paginatedProductos|searchFilter:searchTerm).length > 0; else noResults">
                            <tr *ngFor="let producto of paginatedProductos | searchFilter:searchTerm">
                                <td><img [src]=" producto.logo" alt="Logo" width="50" height="50" />
                                </td>
                                <td>{{ producto.name }}</td>
                                <td>{{ producto.description }}</td>
                                <td>{{ producto.date_release | date: 'dd/MM/yyyy'}}</td>
                                <td>{{ producto.date_revision | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <div class="custom-dropdown">
                                        <input type="checkbox" id="dropdown-toggle-{{ producto.id }}"
                                            class="dropdown-toggle" (click)="toggleDropdown($event)" #dropdownCheckbox>
                                        <label for="dropdown-toggle-{{ producto.id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="4"
                                                viewBox="0 0 128 512">
                                                <path
                                                    d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
                                            </svg>
                                        </label>
                                        <div class="dropdown-menu">
                                            <!-- <button (click)="editarProducto(producto)">Editar</button>
                                            <button (click)="eliminarProducto(producto)">Eliminar</button> -->

                                            <button class="dropdown-button-editar" (click)="editarProducto(producto)">
                                                <fa-icon class="icon" [icon]="faEdit"></fa-icon>
                                            </button>

                                            <button class="dropdown-button-eliminar"
                                                (click)="eliminarProducto(producto)">
                                                <fa-icon class="icon" [icon]="faTrashAlt"></fa-icon>
                                            </button>
                                        </div>
                                        <!-- <div *ngIf="mostrarDropdown" class="dropdown-menu">
                                            <button (click)="editarProducto(producto)">Editar</button>
                                            <button (click)="eliminarProducto(producto)">Eliminar</button>
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noResults>
                            <tr>
                                <td colspan="5">No se encontraron resultados</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

            <div class="results-info">
                <div class="pagination-results">
                    {{ productosList.length }} Resultados
                    <select class="pagination-square" [(ngModel)]="itemsPerPage">
                        <option *ngFor="let i of itemsPerPageList" [value]="i.value">{{i.label}}</option>
                    </select>
                </div>

                <!-- Botones de paginación -->
                <div class="pagination-container">
                    <button class="icon-button" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
                        <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
                    </button>
                    <div class="page-info">
                        Página {{ currentPage }} de {{ totalPages }}
                    </div>
                    <button class="icon-button" (click)="goToPage(currentPage + 1)"
                        [disabled]="currentPage === totalPages">
                        <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<app-spinner [mostrar]="mostrarSpinner"></app-spinner>